<nav  class="navbar navbar-expand-lg navbar-dark bg-dark color-navb">
  <div class="container">
    {{!-- <a class="navbar-brand" href="/">Wonder Places</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/perfil"> <b>Perfil</b> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alojamientos"> <b>Alojamientos</b> </a>
        </li>
        <a class="nav-link" href="/"> <img  src='/images/logo.png'  width="300" height="50"></a>     
        <li class="nav-item">
          <a class="nav-link" href="/reservas"><b>Reservas</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" tabindex="-1" aria-disabled="true"><b>Register</b></a>
        </li>

    <a  class="btn btn-outline-success" type="submit" href="/login">Login</a>
  
      
      </ul>
    </div>
  </div>
</nav>