<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each places as |place|}}
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nombre: {{place.name}}</h5>
        <p class="card-text">{{place.description}}</p>
        <button type="button" class="btn btn-outline-success">Info</button>
      </div>
    </div>
    {{/each}}
  </div>
  