*{
    font-family: 'Bitter', serif;
    
}

.color-navb {
   
    background-color: darkolivegreen !important;
  
    
}
body {
    background-color: #d4efdf;
}

video { 
    display: block;
    margin: auto;
    margin-top: -130px;
}

h1 {
    text-align: center;
    margin-top: 50px;

}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
   
  }
  
 